.container{
    padding-left:0;
}


.section{
  height:900px;
}


#container1{

    max-width: 100%;
    height:950px;
    background-color:black;
}



h1{
    font-size:100px;
    color:white;
}

h2{
  font-size:16px;
  color:white;
}


#menu{
    position:fixed;
    z-index: 100;
    padding-left:95%;
    padding-top:3%;
}

#container2{
  background:red;

}

#container3{
  background:yellow;
}

#container4{
  background:blue;
}
.burger{
    display:block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 10px 0px;
    padding-right:50px;
}



.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 240px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    text-decoration: none;
    font-size: 100px;
    color:white;
    display: block;
    transition: 0.3s;
    padding-left:15%;
  }
  
  /* When you mouse over the navigation links, change their color */
 
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  #fp-nav ul li a span{
    background-color:white;
  }

  #fp-nav.fp-right {
    right: 50px;
  }

  #aboutme{
    height:920px;
    background:black;
  }

  #aboutme h2{
    font-size:40px;
    padding-left:3%;
  }

  #firstline{
    padding-top:35%;
  }

  #thirdline{
    padding-top:2%;
  }

  a{
    color:white;
  }
  a:hover{
    color:white;
  }

  #thirdline a:hover{
    text-decoration: line-through;
  }



  #contact{
    background:black;
    height:920px;
  }

  #contact h1{
    font-size:80px;
    padding-top:35%;
    padding-left:3%;
  }

  #contact h2{
    font-size:30px;
    padding-left:3%;
  }

  #contact h2 a:hover{
    text-decoration: line-through;

  }