
/*overallcode*/

.container{
    padding-left:0;
}

.glitch{
    color:white;
    position:relative;
    width:400px;
    margin-left:15%;
    margin-top:5%;
    font-size:100px;
    z-index: 2;
    mix-blend-mode: lighten;
}

.glitch:before, .glitch:after{
    content:'Hello,';
    position: absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
    color: #fff;
}




.glitch:before{
    left: 80px;
    text-shadow: 2px 0 #00ffea;
    animation: effect 5s infinite linear;
}
.glitch:after{
    left:4px;
    text-shadow: -2px 0 #000000;
    animation: effect 4s infinite linear;
  
}
@-webkit-keyframes effect{
    0%{
      clip: rect(55px, 9999px, 56px, 0);
    }
    5%{
      clip: rect(47px, 9999px, 30px, 0);
    }
    10%{
      clip: rect(33px, 9999px, 36px, 0);
    }
    15%{
      clip: rect(35px, 9999px, 9px, 0);
    }
    20%{
      clip: rect(63px, 9999px, 59px, 0);
    }
    25%{
      clip: rect(96px, 9999px, 98px, 0);
    }
    30%{
      clip: rect(48px, 9999px, 77px, 0);
    }
    35%{
      clip: rect(50px, 9999px, 34px, 0);
    }
    40%{
      clip: rect(60px, 9999px, 72px, 0);
    }
    45%{
      clip: rect(10px, 9999px, 81px, 0);
    }
    50%{
      clip: rect(2px, 9999px, 60px, 0);
    }
    55%{
      clip: rect(23px, 9999px, 59px, 0);
    }
    60%{
      clip: rect(76px, 9999px, 91px, 0);
    }
    65%{
      clip: rect(62px, 9999px, 30px, 0);
    }
    70%{
      clip: rect(60px, 9999px, 73px, 0);
    }
    75%{
      clip: rect(60px, 9999px, 87px, 0);
    }
    80%{
      clip: rect(2px, 9999px, 14px, 0);
    }
    85%{
      clip: rect(28px, 9999px, 87px, 0);
    }
    90%{
      clip: rect(73px, 9999px, 50px, 0);
    }
    95%{
      clip: rect(79px, 9999px, 70px, 0);
    }
    100%{
      clip: rect(17px, 9999px, 79px, 0);
    }
}





.glitch2{
    color:white;
    position:relative;
    width:800px;
    margin-left:15%;
    margin-top:5%;
    font-size:100px;
    z-index: 2;
    mix-blend-mode: lighten;
}

.glitch2:before, .glitch2:after{
    content:'Web/UX Design';
    position: absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
    color: #fff;
}




.glitch2:before{
    left: 80px;
    text-shadow: 2px 0 #00ffea;
    animation: effect 5s infinite linear;
}
.glitch2:after{
    left:4px;
    text-shadow: -2px 0 #000000;
      animation: effect 4s infinite linear;
  
}



.glitch3{
    color:white;
    position:relative;
    width:800px;
    margin-left:15%;
    margin-top:5%;
    font-size:100px;
    z-index: 2;
    mix-blend-mode: lighten;
}

.glitch3:before, .glitch3:after{
    content:'Packaging Design';
    position: absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
    color: #fff;
}




.glitch3:before{
    left: 80px;
    text-shadow: 2px 0 #00ffea;
    animation: effect 5s infinite linear;
}
.glitch3:after{
    left:4px;
    text-shadow: -2px 0 #000000;
      animation: effect 4s infinite linear;
  
}




#firstpageimage img{
    height:60%;
    position: absolute;
    bottom:15%;
    left:25%;
}


.section{
  height:900px;
}


#container1{

    max-width: 100%;
    height:950px;
    background-color:black;
}



h1{
    font-size:100px;
    color:white;
}

h2{
  font-size:16px;
  color:white;
}


#menu{
    position:fixed;
    z-index: 100;
    padding-left:95%;
    padding-top:3%;
}

#container2{
  background:black;

}

.banneranchor:hover{
    text-decoration: line-through;
}










#container3{
  background:black;
}

#container4{
  background:blue;
}
.burger{
    display:block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 10px 0px;
    padding-right:50px;
}


/*navbar*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 240px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 100px;
    color:white;
    display: block;
    transition: 0.3s;
    padding-left:15%;
}
  
/* When you mouse over the navigation links, change their color */
 
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



#fp-nav ul li a span{
    background-color:white;
}

#fp-nav.fp-right {
    right: 50px;
}




/*aboutme.html*/

#aboutme{
    height:920px;
    background:black;
}

#aboutme h2{
    font-size:40px;
    padding-left:3%;
}

#firstline{
    padding-top:35%;
}

#thirdline{
    padding-top:2%;
}

a{
    color:white;
}
a:hover{
    color:white;
}

#thirdline a:hover{
    text-decoration: line-through;
}


/*contact.html*/
#contact{
    background:black;
    height:920px;
}

#contact h1{
    font-size:80px;
    padding-top:35%;
    padding-left:3%;
}

#contact h2{
    font-size:30px;
    padding-left:3%;
}

#contact h2 a:hover{
    text-decoration: line-through;

}

/*webuxdesign.html*/

#webuxdesign{
  height:2000px;
  background:black;
}

#grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 120px;
  max-width:800px;
  padding-top:400px;
}

.thumbnail{
  object-fit: cover;
  text-align: center;
}

.thumbnail img{
  border:solid white 10px;

}



.thumbnailtext{
  color:white;
  font-size:40px;
}

.thumbnail a:hover{
  text-decoration: line-through;
}