
/*overallcode*/

.container{
    padding-left:0;
}

.glitch{
    color:white;
    position:relative;
    width:400px;
    margin-left:15%;
    margin-top:5%;
    font-size:100px;
    z-index: 2;
    mix-blend-mode: lighten;
}

.glitch:before, .glitch:after{
    content:'Hello,';
    position: absolute;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    background-color: rgba(0,0,0,1);
    color: #fff;
}




.glitch:before{
    left: 80px;
    text-shadow: 2px 0 #00ffea;
    animation: effect 5s infinite linear;
}
.glitch:after{
    left:4px;
    text-shadow: -2px 0 #000000;
    animation: effect 4s infinite linear;
  
}
@-webkit-keyframes effect{
    0%{
      clip: rect(55px, 9999px, 56px, 0);
    }
    5%{
      clip: rect(47px, 9999px, 30px, 0);
    }
    10%{
      clip: rect(33px, 9999px, 36px, 0);
    }
    15%{
      clip: rect(35px, 9999px, 9px, 0);
    }
    20%{
      clip: rect(63px, 9999px, 59px, 0);
    }
    25%{
      clip: rect(96px, 9999px, 98px, 0);
    }
    30%{
      clip: rect(48px, 9999px, 77px, 0);
    }
    35%{
      clip: rect(50px, 9999px, 34px, 0);
    }
    40%{
      clip: rect(60px, 9999px, 72px, 0);
    }
    45%{
      clip: rect(10px, 9999px, 81px, 0);
    }
    50%{
      clip: rect(2px, 9999px, 60px, 0);
    }
    55%{
      clip: rect(23px, 9999px, 59px, 0);
    }
    60%{
      clip: rect(76px, 9999px, 91px, 0);
    }
    65%{
      clip: rect(62px, 9999px, 30px, 0);
    }
    70%{
      clip: rect(60px, 9999px, 73px, 0);
    }
    75%{
      clip: rect(60px, 9999px, 87px, 0);
    }
    80%{
      clip: rect(2px, 9999px, 14px, 0);
    }
    85%{
      clip: rect(28px, 9999px, 87px, 0);
    }
    90%{
      clip: rect(73px, 9999px, 50px, 0);
    }
    95%{
      clip: rect(79px, 9999px, 70px, 0);
    }
    100%{
      clip: rect(17px, 9999px, 79px, 0);
    }
}









#firstpageimage img{
    height:70%;
    position: absolute;
    bottom:10%;
    left:40%;
}


.section{
  height:900px;
}


#container1{

    max-width: 100%;
    height:950px;
    background-color:rgb(20, 20, 20);
}



h1{
    font-size:80px;
    color:white;
}

 #mememe h2{
  font-size:16px;
  color:rgb(248, 241, 140);
}




#menu{
    position:fixed;
    z-index: 100;
    padding-left:95%;
    padding-top:3%;
}


#container2{
  background:rgb(20, 20, 20);

}

.banneranchor:hover{
    text-decoration: line-through;
}










#container3{
  background:rgb(20, 20, 20);
}

#container4{
  background:blue;
}
.burger{
    display:block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 10px 0px;
    padding-right:50px;
}


/*navbar*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 200; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgb(20, 20, 20); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 240px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
  
/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 50px;
    color:white;
    display: block;
    transition: 0.3s;
    padding-left:15%;
}
  
/* When you mouse over the navigation links, change their color */
 
  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 40px;
    right: 35px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



#fp-nav ul li a span{
    background-color:white;
}

#fp-nav.fp-right {
    right: 50px;
}




/*aboutme.html*/

#aboutme{
    height:1000px;
    background:rgb(20, 20, 20);
}

#aboutme h2{
    font-size:25px;
    padding-left:10%;
    color:white;
    z-index:3;
    position: absolute;
}

#firstline{
    top:70vh;
}



a{
    color:white;
}
a:hover{
    color:white;
}

.click a:hover{
    text-decoration: line-through;
}

#aboutme img{
  width:85%;
  position: absolute;
  left:10%;
  top:9%;
  z-index:0;
}

#aboutme a{
  background-color:rgb(247, 247, 104);
  color:rgb(20, 20, 20);
}


/*contact.html*/
#contact{
    background:rgb(20, 20, 20);
    height:1000px;
}

#contact h1{
    font-size:80px;
    padding-top:35%;
    padding-left:8%;
}

#contact h2{
    font-size:30px;
    padding-left:8%;
}

#contact h2 a:hover{
    text-decoration: line-through;

}

#contact h2{
  font-size:25px;
  color:white;
  z-index:3;
}

#contact a{
  background-color:rgb(247, 247, 104);
  color:rgb(20, 20, 20);
}

/*webuxdesign.html*/

#webuxdesign{
  height:2000px;
  background:rgb(20, 20, 20);
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 120px;
  max-width:800px;
  padding-top:300px;
}

.thumbnail{
  text-align: center;
  position: relative;
  width: 100%;
  padding-right:0;
}

.thumbnail img{
  display: block;
  width: 100%;
  height: auto;

}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border:2px rgb(20, 20, 20) solid;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
}

#overlaycolor1{
  background-color: rgb(233, 143, 91);

}

#overlaycolor2{
  background-color: #ffb307;
}




.thumbnail:hover .overlay {
  height: 100%;
}

.overlaytext {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlaytext h1,h2, h6{
  color: rgb(20, 20, 20);
}



.overlaytext h1{
  font-size:40px;
}

.overlaytext h2{
  font-size:20px;
}

.overlaytext a:hover{
  text-decoration:line-through;

}



.webdesignintro h2{
  font-size:30px;
  margin-left:20px;
  margin-top:20px;
  color:white;
}


/*stepup.html*/

#stepup{
  background-color:rgb(20, 20, 20);
  height:6000px;
}



#stepup h1{
  font-size:50px;
}
#stepup h2{
  color:white;
  font-size:30px;
}

#stepup p{
  color:white;
}

#stepup_intro{
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;
}

#stepup_problemsolution{
  padding-left:6%;
  padding-right:5%;
}

#stepup_header{
  display:flex;
  justify-content: center;
  align-items: center;
  height:150px;
  text-align: center;
  padding-left:0;

}

#stepup_header_text{
  border-left:20px solid #fd9167;
  color:white;
  padding-left:20px;
}



.container-fluid{
  padding-left:0;
  padding-right:0;
}

hr{
  border:.5px solid white;
  margin:5%;
}

#stepup_prototype{
  padding-left:5%;
  padding-right:5%;

}

#wireframes{
  height:500px;
  padding-top:1%;
}


#wireframes img{
  width:90%;
  height:90%;
  
}

#highfidelitytext{
  padding-top:15%;
  padding-bottom:3%;
}


.chocolat-wrapper .chocolat-right {
 
  width: 139px;
  height: 131px;
}

.chocolat-wrapper .chocolat-left {
 
  width: 139px;
  height: 131px;
}

.chocolat-wrapper .chocolat-bottom {
  background-color:#fd9167a4;
  
}

.chocolat-image img{
  width:200px;
  margin:5px;
}

#stepup_userstory{
  padding-left:5%;
  padding-right:5%;
}

#stepup_userstory h2{
  padding-bottom:1%;
}

#style{
  padding-left:5%;
  padding-right:5%;
}

#style h2{
  padding-bottom:1%;
}

.chocolat-wrapper {
  color:rgb(20,20,20);
}

#feature{
  padding-left:5%;
  padding-right:5%;
}



#landingpage{
  padding-right:0;
}
#landingpage p{
  color:rgb(20,20,20);

}

#landingpage a:hover{
  text-decoration: line-through;
}

/*thrive.html*/

#thrive{
  background-color:rgb(20, 20, 20);
  height:12000px;
}



#thrive h1{
  font-size:50px;
}
#thrive h2{
  color:white;
  font-size:30px;
}

#thrive p{
  color:white;
}

#thrive_header{
  display:flex;
  justify-content: center;
  align-items: center;
  height:150px;
  text-align: center;
  padding-left:0;

}

#thrive_header_text{
  border-left:20px solid rgb(255, 202, 88);
  color:white;
  padding-left:20px;
}

#thrive_intro{
  padding-top:10%;
  padding-left:5%;
  padding-right:5%;
}

#thrive_problemsolution{
  padding-left:6%;
  padding-right:5%;
}

#thrive_userstory{
  padding-left:5%;
  padding-right:5%;

}

#thrive_userstory h2{
  padding-bottom:1%;
}

.diagrams{
  padding-left:6%;
  padding-right:5%;

}

#maslow{
  width:80%;
  padding-top:3%;
}

#customer{
  width:100%;
  padding-top:3%;
}

#thrive_branding{
  padding-left: 6%;
  padding-right:5%;
}

.circle{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: inline-block;
  margin:10px;
  border:2px, solid, rgb(20,20,20);
}

.swatches{
  padding-top:5%;
  display:flex;
  flex-direction: column;
}

#thrive_style{
display:flex;
flex-direction: row;
}


#thrive_logo{
  width:60%;
  height:60%;
  padding-top:5%;
  padding-left:5%;

}

#thrive_prototype{
  padding-left:6%;
  padding-right:5%;
}

.chocolat-wrapper .chocolat-bottom {
  height:47px;
}

.chocolat-description{
  font-size:17px;
}




#clicktosee{
  color:white;
}

.grid h4{
  color:white;
  font-size:15px;
  padding-left:6%;
}

.chocolat-parent h4{
  color:white;
  font-size:15px;
  padding-bottom:2%;
  
}

/*visualdesign.html*/

#visualdesign{
  height:2000px;
  background-color:rgb(20,20,20);
}

#overlaycolor3{
  background-color:rgb(243, 131, 131);
}

#overlaycolor4{
  background-color:#44ced0;
}


#overlaycolor5{
  background-color:rgb(224, 173, 32);
}

#overlaycolor6{
  background-color:rgb(247, 102, 215);
}

/*bookjacket.html*/
.visuals{
  height:2500px;
  background-color:rgb(20,20,20);
}

.grid2{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 80px;
  max-width:1000px;
  padding-top:300px;
  overflow:hidden;
  padding-top:10%;
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  height:150px;
  text-align: center;
  padding-left:0;

}

.header_text{
  font-size:50px;
  color:white;
  padding-left:20px;
}

#bookjacket_header_text{
  border-left:20px solid rgb(243, 131, 131);

}

p{
  color:white;
}

.visual_caption{
  text-align: center;
}


/*zine.html*/


#zine_header_text{
  border-left:20px solid #44ced0;

}







/*admiral.html*/
#admiral_header_text{
  border-left:20px solid rgb(224, 173, 32);
  
}




/*album.html*/

#album_header_text{
  border-left:20px solid rgb(247, 102, 215);
}




























@media (max-width: 576px) {
  #firstpageimage img{ 
    display:none;

  }
  #aboutme img{
    display:none;
  }

  #firstline{
    top:50vh;
  }

  #aboutme h2{
    padding-left:3%;
    padding-right:3%;
  }

  #stepup_problemsolution{
    padding-left:10%;
  }

  #wireframes img{
    width:100%;
  }


  .chocolat-wrapper .chocolat-right {
    visibility: hidden;
  }

  .chocolat-wrapper .chocolat-left {
    visibility: hidden;  
  }

  .chocolat-content .chocolat-img {
    width: 200%;
    height: 200%;
  }
  
  .chocolat-content{
    left:70px;
  }

  .chocolat-image img{
    width:100px;
    
  }
  
  #stepup{
    height:7400px;
  }

  #maslow{
    width:100%;
  }

  .circle{
    width: 30px;
    height: 30px;
  }

  #thrive_logo{
    width:50%;
    height:50%;
    
  }

  #thrive_header{
    padding-top:10%;
  }
  #thrive_subheader{
    padding-top:10%;
  }



  .sidenav {
    padding-top:150px;
  }

  .sidenav a {
    font-size:40px;
  }

  #thrive{
    height:12200px;
  }


  .visuals{
    height:5000px;
    
  }

 .header{
    padding-top:10%;
  }
  .visual_caption{
    padding-top:10%;
    text-align: left;
    padding-left:5%;
    padding-right:5%;
  }

  .grid2{
    padding-left:15%;
  }

  .glitch{
    margin-left:3%;
  }
  .glitch:before{
    display:none;
  }
  .glitch:after{
    display:none;
  }
  #webdesignbanner{
    margin-left:5%;
  }

  #packagedesignbanner{
    margin-left:5%;
  }

}


@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }







